<div class="">
  <label for="icsFile" class="block text-lg font-medium text-gray-300 mx-auto p-20 bg-slate-700 border-dashed border-2 border-emerald-600 rounded-3xl text-center cursor-pointer">
    <span id="fileLabel">Drop or Select an ICS File</span>
  </label>
  <input type="file" id="icsFile" name="icsFile" accept=".ics" 
    class="hidden w-full text-sm text-gray-400
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0
      file:text-sm file:font-semibold
      file:bg-emerald-500 file:text-gray-100
      file:hover:bg-emerald-600
      file:cursor-pointer">
</div>
